@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #37352f;
  --background: #ffffff;
  --border: #e9e9e7;
}

html,
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Calibri', 'Calibri Light', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
